body {
    margin: 0;
    font-family: sans-serif;
    background-color: #e3d9d9;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  body.dark-mode {
  background: #0f172a;
  color: #f1f5f9;
}

body.dark-mode .tshirt-card {
  background-color: #1e293b;
  color: #f1f5f9;
}

body.dark-mode input,
body.dark-mode select {
  background-color: #1e293b;
  color: white;
  border: 1px solid #334155;
}

body.dark-mode button {
  background-color: #3b82f6;
  color: white;
}
